# C extensions
*.so

# logs
*log
log-*
*.csv

# Distribution / packaging
build/

# vscode
.vs
.vscode

# python
__pycache__/
*.egg-info/
dist/

# 3drparty
/3rdparty/ig
/3rdparty/mklml
/3rdparty/mkl
/3rdparty/oneCCL
/3rdparty/oneccl
/3rdparty/jsoncpp
/3rdparty/onednn
/3rdparty/cmdline
/3rdparty/sentencepiece
/3rdparty/xdnn


# MLServer
.envs
.metrics