name: XFT PR Validation
permissions: read-all
on:
  pull_request:
   types: [opened, reopened, synchronize]
   branches: [ main ]
   paths-ignore:
     - .github/workflows
     - dockerfiles/
     - 3rdparty/

jobs:
  build_and_simple_test:
    runs-on: [self-hosted]
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 #v4.1.1

      - name: svr_info
        shell: bash
        run: |
            bash ci_build svr_info

      - name: Build
        shell: bash
        run: |
            bash ci_build build

      - name: UT
        shell: bash
        run: |
            bash ci_build ut

      - name: simple model test
        shell: bash
        run: |
            bash ci_build model